.more{
    display: flex; flex-direction: column; align-items: flex-start;
    height: 100%;
    overflow-y: auto;
    padding: 30px 20px;
}

.more-title-sub{
    margin: 10px 0;
    font-size: 18px;
}

.more-des{
    margin-bottom: 15px;
    line-height: 1.5;
}

.more-des a{
    text-decoration: underline;
}

.more-des a:hover{
    color: #228b22;
}