/* font */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
.App{
  font-family: 'Gowun Dodum', sans-serif;
}

/* reset */
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h6{
  font-size: inherit;
  font-weight: normal;
}

ul,ol,dl{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

table{
  border-collapse: collapse;
}

/* common */


.title-b{
  color: #87cefa;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.title-g{
  color: #228b22;
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

.cl-b{
  color: #87cefa;
}

.cl-g{
  color: #228b22;
}

.cl-o{
  color: rgb(223, 147, 103);
}